{
  "extends": "airbnb-base/legacy",
  "rules": {
    "no-restricted-syntax": ["off", "ForInStatement"],
    "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
    "no-param-reassign": ["off"],
    "func-names": ["off"],
    no-plusplus: ["error", { "allowForLoopAfterthoughts": true }],
  }
}