language: node_js
node_js:
- '0.11'
- '0.10'
- '0.12'
- 'iojs'
before_script:
- npm install -g grunt-cli
notifications:
  slack:
    secure: CEhTJBzvdIEOWdjylkoDl+ioI5dHIBCgoHsRHAQFY0H7hhcuPHlJSr5MKNo65TRZfvDYUcVvbw62jBMmAIr878NQBnEPnhF/DusMB0JiZoIT2fKB2jMMzlql1NyzlEpIT1fnONBWewOeRSzp4fIu6xct4pvBja044o6PUw+TVRg=
