/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #F2F2F2;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove padding from wrapping element since we kick in the grid classes here */
  .body-content {
    padding: 0;
  }
}

#subscribers div {
  float: left;
}

.bump-me {
  padding-top: 40px;
}
