<% include header %>

  <div class="container bump-me">


    <div class="body-content">


      <div class="row">
        <div class="col-lg-6 col-offset-1">

          <div class="panel panel-default">
            <div class="panel-heading">Create an archive</div>
            <div class="panel-body">
              <p>
                Everyone who joins either the Host View or Participant View
                joins a single OpenTok session. The Host can click
                Start Broadcst and Stop Broadcst to control the live streaming
                broadcast of the entire session.
              </p>
            </div>
            <div class="panel-footer">
              <a class="btn btn-danger" href="host">Host View</a>
              <a class="btn btn-danger" href="participant">Participant View</a>
              <a class="btn btn-danger" href="broadcast">Broadcast URL</a>
            </div>
          </div>

        </div>

    </div>

  </div>

<% include footer %>
