<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Peer5-Tok Hello world</title>
</head>
<body>
    <h2>Welcome</h2>
    <div>
        <input id=room_name type="text" placeholder="room name" value="">
        <button id="create_room_btn" class="big_btn" style="margin-top:100px" onclick="">Create room!</button>
    </div>
</body>
<script src="/js/welcome.js"></script>
</html>
